.login-right-section-container{
    border: 2px solid #d3d3d3;
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 55px;
    min-width: 390px;
}

.login-right-section-container .login-switch{
    align-self: flex-start
}

.login-right-section-container .login-switch span{
    cursor:pointer;
    font-weight: bold;
    color:gray;
}

.login-right-section-container .login-switch span.active{
    color: var(--idcblue);
    position: relative;
}

.login-right-section-container .login-switch span.active::after{
    content: "";
    position: absolute;
    left: 0;
    width: 14px;
    bottom: -5px;
    border-radius: 15px;
    border-top: 3px solid var(--idcblue);
    animation: moveRightToLeft 0.2s ease-in-out;
}

.login-right-section-container .login-switch span.ml-25.active::after{
    animation: moveLeftToRight 0.2s ease-in-out;
}

@keyframes moveLeftToRight {
    from {transform: translateX(-55px)};
    to{transform: translateX(0);}
}

@keyframes moveRightToLeft {
    from {transform: translateX(55px)}
    to {transform: translateX(0px)}
}

.login-part{
    border-top: 2px solid #f1f1f1;
    animation: cardRotate 0.5s ease-in-out;
}

.login-part > *{
    margin: 20px 0;
}

@keyframes cardRotate{
    from{transform: rotateY(180deg)};
    to{transform: rotateY(0)};
}