.todo{
    background-color: #fff;
    padding: 10px;
    margin-top: 2rem;
    border-radius: 10px;
    cursor: pointer;
    max-height:220px;
}

.todo:not([draggable]){
    transform-origin: top;
    animation: dropdown 0.5s ease-out;
}

@keyframes dropdown {
    from{transform: rotateX(80deg)}
    to{transform: rotateX(0deg)}
}

.todo-title{
    word-break: break-all;
}

.todo-description{
    color:gray;
    word-break: break-all;
}

.todo h5{
    margin: 10px 0;
}

.todo p{
    font-size:0.8rem;
    color: gray;
}